html {
  font-family: 'Inter Tight',
    sans-serif;
  box-sizing: border-box;
  background-color: rgb(252, 251, 249);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

audio {
  color: black !important;
}